beautifulsoup4==4.9.3
certifi==2023.7.22
chardet==4.0.0
idna==2.10
numpy==1.20.3
pandas==1.2.4
progressbar2==3.53.1
python-dateutil==2.8.1
python-utils==2.5.6
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.5
